/* .allUsers {
	display: flex;
	flex-wrap: wrap;
	gap: 5px 20px;
	height: auto;
} */
body {
	padding: 0;
	margin: 0;
	background-color: #17141d;
	color: white;
	font-family: "DM Mono", monospace;
}
.card-list {
	display: flex;

	padding: 3rem;
	min-height: 100vh;
	overflow-x: scroll;
	margin-bottom: 13px;
}

.card-list::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
	background: #201c29;
	border-radius: 10px;
	box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
		inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
	background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}
