.mainFooter {
	width: 100%;
	background: #097e78;
	box-shadow: 1rem 0 1.5rem #097e78;
}
.footerContainer {
	display: flex;
	justify-content: center;
}
.footerRows {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	justify-content: space-between;
}
.col {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h2 {
	font-size: 25px;
}

li {
	list-style-type: none;
	font-size: 20px;
}
